---
import MenuBar from "../components/MenuBar.astro";
import Footer from "../components/Footer.astro";
import SidebarInfo from "../components/SidebarInfo.astro";
import "../styles/global.css";
---

<!-- Menu de navegacion -->
<main class="flex bg-gray-100 min-h-screen">
  <section class="flex flex-col md:flex-row justify-between w-full p-10">
    <div class="md:w-full">
      <h1 class="text-3xl font-bold mb-4">Menu</h1>
      <div class="flex row">
        <p class="text-gray-700 mb-6 w-3/5">
          This is the menu. Lorem ipsum dolor sit amet consectetur adipiscing
          elit sapien scelerisque, feugiat commodo congue hendrerit sociosqu
          ultricies volutpat morbi. Donec orci montes netus vestibulum imperdiet
          eleifend faucibus, in inceptos aptent volutpat eu lobortis viverra,
          rutrum suspendisse nullam venenatis dictum blandit.
        </p>
      </div>
    </div>
  </section>
</main>
<!-- Informacion general del grado de ingenieria informatica -->
<main class="flex bg-gray-100 min-h-screen">
  <section class="flex flex-col md:flex-row justify-between w-full p-10">
    <div class="md:w-full">
      <h1 class="text-3xl font-bold mb-4">General information</h1>
      <div class="flex row">
        <p class="text-gray-700 mb-6 w-3/5">
          This is the general information of the grade. Lorem ipsum dolor sit
          amet consectetur adipiscing elit sapien scelerisque, feugiat commodo
          congue hendrerit sociosqu ultricies volutpat morbi. Donec orci montes
          netus vestibulum imperdiet eleifend faucibus, in inceptos aptent
          volutpat eu lobortis viverra, rutrum suspendisse nullam venenatis
          dictum blandit.
        </p>
        <div class="flex flex-col items-center col-span-full sm:col-auto w-2/5">
          <a
            href="https://www2.ulpgc.es/plan-estudio/4008/41"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full mb-4 w-60 text-center"
            >
              Grade&rsquo;s page
            </button>
          </a>
          <a
            href="https://www.eii.ulpgc.es/es"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full w-60 text-center"
            >
              EII&rsquo;s page
            </button>
          </a>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-3/5">
        <div>
          <h2 class="text-lg font-semibold flex justify-center">
            Extra info 1
          </h2>
          <p class="text-gray-600 flex justify-center">Brief answer</p>
        </div>
        <div>
          <h2 class="text-lg font-semibold flex justify-center">
            Extra info 2
          </h2>
          <p class="text-gray-600 flex justify-center">Brief answer</p>
        </div>
        <div>
          <h2 class="text-lg font-semibold flex justify-center">
            Extra info 3
          </h2>
          <p class="text-gray-600 flex justify-center">Brief answer</p>
        </div>
        <div>
          <h2 class="text-lg font-semibold flex justify-center">
            Extra info 4
          </h2>
          <p class="text-gray-600 flex justify-center">Brief answer</p>
        </div>
      </div>
    </div>
  </section>
</main>
