<header class="bg-gray-800 text-white py-5">
  <div class="container mx-auto px-6 flex items-center justify-between">
    <div class="text-xl font-bold flex flex-1 justify-center">CompuNotes</div>
    <nav class="space-x-6 text-center flex-1">
      <a href="#" class="text-blue-300">Main menu</a>
      <a href="#" class="hover:text-blue-400">Information</a>
      <a href="#" class="hover:text-blue-400">Courses</a>
      <a href="#" class="hover:text-blue-400">Teachers</a>
    </nav>
    <div class="flex-1 flex justify-end">
      <div class="w-10 h-10 bg-white rounded-full"></div>
    </div>
  </div>
</header>
