<header class="bg-gray-800 text-white py-5">
  <div class="container mx-auto px-6 flex items-center justify-between">
    <div class="text-xl font-bold flex flex-1 justify-center">CompuNotes</div>
    <nav class="space-x-6 text-center flex-1">
      <a href="#" class="text-blue-300">Main menu</a>
      <a href="#" class="hover:text-blue-400">Information</a>
      <a href="#" class="hover:text-blue-400">Courses</a>
      <a href="#" class="hover:text-blue-400">Teachers</a>
    </nav>
    <div class="flex-1 flex justify-end">
      <a href="login" class="hover:text-blue-400">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-10 h-10 text-white bg-gray-700 rounded-full p-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5.121 17.804A9.953 9.953 0 0112 15c2.21 0 4.21.714 5.879 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0zM12 2a10 10 0 100 20 10 10 0 000-20z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</header>
