
<div class="sidebar w-[250px] h-screen bg-gray-800 text-white flex flex-col p-5">
    <div class="menu-item active p-[15px] rounded-md mb-2.5 cursor-pointer text-center">My Docs</div>
    <div class="menu-item hover:bg-gray-600 p-4 rounded-md mb-2.5 cursor-pointer text-center">Saved Docs</div>
    <div class="menu-item hover:bg-gray-600 p-4 rounded-md mb-2.5 cursor-pointer text-center">Personal Info</div>
    <div class="menu-item hover:bg-gray-600 p-4 rounded-md mb-2.5 cursor-pointer text-center">Settings</div>
</div>


<style>
    .sidebar .menu-item.active {
        background-color: #374151;
    }
</style>